<div class="row" style="margin-top: 10px">

    <div class="col">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <i class="fa fa-user-o" aria-hidden="true"  style="color: white;"></i>
        <a class="navbar-brand" style="color: white" routerLink="/home">
            &nbsp; Wel-come </a> 
  
        <div class="collapse navbar-collapse">
          <div class="navbar-nav ml-auto">
            <span  class="nav-item nav-link"
              style="font-weight: bold; color: whitesmoke"
              ></span
            >&nbsp;
            <a 
              style="cursor: pointer; font-weight: bold; color: whitesmoke"
              class="nav-item nav-link"
              >LogOut</a >
          </div>
        </div>
      </nav>
    </div>
  </div>
  <body>
    <div class="container mt-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Transaction Id</th>
                    <th>Payment Amount</th>
                    <th>Transaction Date</th>
                    <th>Payment Method</th>
                    <th>Is Early</th>
                    <th>Is Online</th>
                    <th>Invoice Id</th>
                    <th>Customer Id</th>
                    
                </tr>
            </thead>
            <tbody>
               <tr *ngFor="let item of transaction">
                   <td>{{item.transactionId}}</td>
                   <td>{{item.paymentAmount}}</td>
                   <td>{{item.transactionDate}}</td>
                   <td>{{item.paymentMethod}}</td>
                   <td>{{item.isEarly}}</td>
                   <td>{{item.isOnline}}</td>
                   <td>{{item.mappedInvoice}}</td>
                   <td>{{item.mappedCustomer}}</td>
                   
                   
                   
               </tr>
            </tbody>
        </table>
    </div>




