<div class="row" style="margin-top: 10px">

    <div class="col">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <i class="fa fa-user-o" aria-hidden="true"  style="color: white;"></i>
        <a class="navbar-brand" style="color: white" routerLink="/home">
            &nbsp; Profile </a> 
  
        <div class="collapse navbar-collapse">
          <div class="navbar-nav ml-auto">
            <span  class="nav-item nav-link"
              style="font-weight: bold; color: whitesmoke"
              ></span
            >&nbsp;
            <a 
              style="cursor: pointer; font-weight: bold; color: whitesmoke"
              class="nav-item nav-link"
              >LogOut</a >
          </div>
        </div>
      </nav>
    </div>
  </div>
  
<table class="table table-bordered table-hover">
    <thead>
        <th>Invoice Id</th>
        <th>Billing Duration</th>
        <th>Unit Consumption</th>
        <th>Due Date</th>
        <th>AmountDue</th>
        <th>Payment Status</th>
        <th>Billing Rate</th>
        <th>Action</th>
    </thead>
    <tbody>
    <tr *ngFor='let item of unpaidData'>
       <td> {{item.invoiceId}}</td>
       <td> {{item.billingDuration}}</td>
       <td> {{item.unitConsumption}}</td>
       <td> {{item.dueDate}}</td>
       <td> {{item.amountDue}}</td>
       <td> {{item.paymentStatus}}</td>
       <td> {{item.billingRate}}</td>
       <td><button type="button" (click)="pay()" class="btn btn-outline-success" >Pay</button></td>
    </tr>
</tbody>
</table>





